/* @font-face { */
/*   font-family: 'Noto Sans'; */
/*   font-style: normal; */
/*   font-weight: 100 900; */
/*   font-stretch: 62.5% 100%; */
/*   font-display: swap; */
/*   src: url('../font/noto-sans-variable.woff2') format('woff2'); */
/* } */

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 1.95em;
    margin: 20px;
    text-align: center;
}

b {
  font-weight: 450;
}

.grid-2, .forecast, .now {
    display: grid;
    grid-auto-rows: 468px; /* 1404/3 */
    overflow: hidden;
    align-items: top;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.forecast {
    grid-template-columns: 1fr 1fr 1fr;
}

#time, #weather-icon {
    font-size: 800%;
}

#time.small-clock {
    font-size: 700%;
}

#date, #weather-label {
    font-size: 210%;
}

#date {
    margin-top: -40px;
}

.title {
    font-weight: 600;
    margin-bottom: 25px;
}

.entry-title {
    text-align: left;
    padding-left: 5px;
}

.entry-date {
    text-align: right;
    padding-right: 5px;
}

.forecast i{
    font-size: 300%;
}

.now {
    align-items: center;
}

.entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}
